@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
@media (min-width: 0px) {
  .navigation {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 11vh;
    background-color: #f8f8ff;
    border-bottom: 2px solid black;
    z-index: 4;
  }
  .navigation-title {
    color: #007fff;
    font-size: clamp(1.3rem, 3vw, 2rem);
  }
  .navigation-list {
    background-color: #999;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    transition: 0.4s linear;
  }
  .list-links:nth-of-type(1) {
    padding-top: 70px;
  }
  .list-links {
    padding-top: 15px;
  }
  .button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(1.07rem, 4vw, 1.2rem);
    transition: 0.3s;
  }
  .burger {
    position: relative;
    height: 100%;
  }
  .fa-bars,
  .fa-xmark {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: clamp(1.8rem, 5vw, 2.2rem);
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 0.2s linear;
    display: none;
    text-shadow: 1px 1px 3px rgba(66, 68, 90, 1);
  }
  .active {
    display: block;
  }
}
@media (min-width: 520px) and (max-width: 690px) and (orientation: landscape) {
  .navigation {
    height: 15vh;
  }
}
@media (min-width: 640px) {
  .navigation-list {
    position: static;
    background-color: transparent;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
  }
  .list-links:nth-of-type(1) {
    padding-top: 0px;
  }
  .list-links {
    padding-top: 0px;
  }
  .burger {
    display: none;
  }
  .button:hover {
    color: #007fff;
  }
}
@media (min-width: 0px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding-top: 11vh;
    background: rgba(0, 0, 0, 0.5) url(images/header/esteticSmall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-bottom: 2px solid black;
  }
  .main-title,
  .description,
  .more {
    color: whitesmoke;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  }
  .main-title {
    font-size: clamp(1.6rem, 5vw, 3rem);
  }
  .description {
    font-size: clamp(0.8rem, 5vw, 2.2rem);
    width: 80%;
    text-align: center;
    padding: 3% 0 5% 0;
  }
  .more {
    font-size: clamp(0.8rem, 3.5vw, 1.5rem);
    background-color: transparent;
    border: 2px solid whitesmoke;
    padding: 5px 20px;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  .main-container {
    height: 100vh;
  }
  .description {
    padding: 3% 0 3% 0;
  }
}
@media (min-width: 1024px) {
  .main-container {
    height: 80vh;
    background: rgba(0, 0, 0, 0.5) url(images/header/esteticBig.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .more:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #007fff;
  }
}
@media (min-width: 0px) {
  .service {
    width: 100%;
    min-height: 100vh;
  }
  .header-title {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 3% 0 3% 0;
    color: #999;
    font-size: clamp(1.5rem, 7vw, 2.8rem);
    text-shadow: -1px 1px 2px rgba(66, 68, 90, 1);
  }
  .service-containers {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    min-height: 30vh;
    border: 2px solid #007fff;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 1px 3px 20px -12px rgba(66, 68, 90, 1);
  }
  .service-description {
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 1rem);
    color: #777;
    padding: 10px;
    margin: 4% 0 4% 0;
  }
  .service-title {
    color: #202020;
    text-transform: uppercase;
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin: 4% 0 4% 0;
    text-align: center;
  }
  .icon-dent {
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    border: 2px solid #c8c8c8;
    color: #202020;
    padding: 8px;
    border-radius: 20px;
    margin: 4% 0 4% 0;
  }
  .service-button {
    padding: 5px 10px;
    border: 2px solid #777;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    text-transform: uppercase;
    margin: 4% 0 4% 0;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  .service-container {
    width: 26%;
  }
}
@media (min-width: 800px) {
  .service-containers {
    width: 80%;
  }
  .service-container {
    width: 22%;
  }
  .service-button:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #007fff;
    border: #007fff 2px solid;
  }
}
@media (min-width: 0px) {
  .opinion {
    margin-top: 3%;
    width: 100%;
    min-height: 60vh;
    background-color: #f2f2f2;
    position: relative;
  }
  .arrow {
    position: absolute;
    border: none;
    top: 50%;
    transform: translate(0, -50%) scale(1);
    font-size: clamp(2rem, 3vw, 2rem);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
  }
  .arrow:hover {
    transform: translate(0, -50%) scale(1.2);
  }
  .prev {
    left: 4%;
  }
  .next {
    right: 4%;
  }
  .formlist {
    width: 77%;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  .formlist::-webkit-scrollbar {
    display: none;
  }
  .list {
    display: flex;
    width: max-content;
  }
  .person-opinion {
    width: 65vw;
    height: 44vh;
    border: 2px solid #007fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c8c8c8;
    margin-right: 30px;
    box-shadow: 1px 4px 17px -4px rgba(66, 68, 90, 1);
  }
  .person-opinion:nth-of-type(1) {
    margin-left: 20px;
  }
  .person-description {
    text-align: center;
  }
  .person-img {
    border-radius: 50%;
    box-shadow: 1px 4px 17px -4px rgba(66, 68, 90, 1);
  }
  .person-name {
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: bold;
  }
}
.menu {
  right: 0;
}
@media (min-width: 390px) {
  .person-opinion {
    padding: 5px;
    width: 33vw;
    height: 65vh;
    margin-bottom: 3%;
  }
}
@media (min-width: 650px) and (orientation: landscape) {
  .person-opinion {
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .person-opinion {
    width: 25vw;
    margin: 2% 2.2%;
    transition: 0.2s;
    transform: scale(1);
  }
  .person-description {
    width: 80%;
  }
  .person-opinion:hover {
    transform: scale(1.02);
  }
}
@media (min-width: 1200px) {
  .formlist {
    width: 74%;
  }
  .person-opinion {
    width: 18vw;
  }
}
